i.icon {
  display: block;
  width: 48px;
  height: 48px;
  position: relative;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  vertical-align: middle;
  text-indent: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
  }
}

i.icon-weather-image {
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
}

i.icon.humidity{
  &::after{
    background-image: url("./assets/icons/humidity.svg");
  }
}

i.icon.pressure{
  &::after {
    background-image: url("./assets/icons/pressure.svg");
  }
}

i.icon.sun-rise{
  &::after {
    background-image: url("./assets/icons/sunRise.svg");
  }
}

i.icon.sun-set{
  &::after {
    background-image: url("./assets/icons/sunSet.svg");
  }
}

i.icon.temp-high{
  &::after {
    background-image: url("./assets/icons/high.svg");
  }
}

i.icon.temp-low{
  &::after {
    background-image: url("./assets/icons/low.svg");
  }
}

i.icon.wind{
  &::after {
    background-image: url("./assets/icons/wind.svg");
  }
}

i.icon.cloud{
  &::after {
    background-image: url("./assets/icons/cloud.svg");
  }
}

i.icon.list{
  &::after {
    background-image: url("./assets/icons/list.svg");
  }
}

i.icon.close{
  &::after {
    background-image: url("./assets/icons/close.svg");
  }
}

i.icon.reload{
  &::after {
    background-image: url("./assets/icons/reload.svg");
  }
}

.night,
.city-list-item__wrapper > .night{
  .weather-thunderstorm{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/thunderstormNight.svg");
      }
    }
  }
  .weather-drizzle{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/drizzle.svg");
      }
    }
  }
  .weather-rain{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/rainNight.svg");
      }
    }
  }
  .weather-snow{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/snow.svg");
      }
    }
  }
  .weather-clear{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/clearNight.svg");
      }
    }
  }
  .weather-clouds{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/cloudNight.svg");
      }
    }
  }
  .weather-mist{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/mist.svg");
      }
    }
  }
}

.day,
.city-list-item__wrapper > .day{
  .weather-thunderstorm{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/thunderstormDay.svg");
      }
    }
  }
  .weather-drizzle{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/drizzle.svg");
      }
    }
  }
  .weather-rain{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/rainDay.svg");
      }
    }
  }
  .weather-snow{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/snow.svg");
      }
    }
  }
  .weather-clear{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/clearDay.svg");
      }
    }
  }
  .weather-clouds{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/cloudDay.svg");
      }
    }
  }
  .weather-mist{
    i.icon-weather-image,
    i.city-weather-image{
      &::after {
        background-image: url("./assets/icons/weather/mist.svg");
      }
    }
  }
}
